body{
    font-family: poppins, inter, sans-serif;
}
h1{
    text-align: center;
}
form{
    margin: auto;
    width: 400px;
    background-color: #f1f1f1;
    border-radius: 1rem;
    padding: 1rem;
}
input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 1px 3px;
}
input:focus{
    outline: none;
}
input[type='submit']{
    cursor: pointer;
    margin-top: 1rem;
}
input[type='submit']:active{
    scale: 0.98;
}
ul{
    text-align: center;
    list-style-type: none;
}