{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<h1>Login</h1>
{% with msgs = get_flashed_messages() %}
<ul>
    {% for msg in msgs %}
    <li>{{ msg }}</li>
    {% endfor %}
</ul>
{% endwith %}
<form action="login" method="post">
    {{ form.csrf_token }}
    
    {{ form.email.label() }}
    {{ form.email(placeholder="Email") }}
    
    {{ form.password.label() }}
    {{ form.password(placeholder="Password") }}
    
    {{ form.submit }}
    
</form>
{% endblock %}